<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Github Emojis</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  </head>
  <body>
    <div id="app">
      <h1>Github Emojis</h1>

      <table>
        <tr>
          <td><input v-model="filter" type="text" placeholder="Filter..." /></td>
        </tr>

        <tr v-for="emoji in emojisList">
          <td>{{ emoji.name }}</td>
          <td><img :src="emoji.src" :alt="emoji.name" /></td>
        </tr>
      </table>
    </div>

    <script>
      new Vue({
        el: "#app",

        data: {
          filter: "",
          emojis: {},
        },

        computed: {
          emojisList() {
            return Object.keys(this.emojis)
              .map((name) => ({
                name: `:${name}:`,
                src: this.emojis[name],
              }))
              .filter((emoji) => emoji.name.includes(this.filter));
          },
        },

        mounted() {
          fetch("https://api.github.com/emojis")
            .then((response) => response.json())
            .then((emojis) => {
              this.emojis = emojis;
            });
        },
      });
    </script>
  </body>
</html>
